imblearn
seaborn
accelerate
scikit-plot
transformers
transformers[torch]
scikit-learn
lightgbm
keras
gdown
contractions
langdetect
nltk
matplotlib-venn
tensorflow
SciencePlots
cartopy
torch
pipeline
keras-preprocessing
tf-keras